.preview__header {
	background-image: url(../images/header.jpg);
	background-position: center top;
	height: 400px;
}
.content__date {
	font-size: 18px;
	font-weight: 700;
	top: 55px;
	left: 30px;
}
.content__caption {
	font-size: 45px;
	line-height: 44px;
	font-weight: 700;
	top: 95px;
	left: 45px;
	margin: 0;
}
.content__caption em {
	display: block;
	font-size: 85px;
	line-height: 88px;
	font-weight: 600;
	margin: 10px;
}